@model Assignment_C1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>I Would Like To See A Particular Teacher</h2>

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>@Model.TeacherId</p>
<p>@Model.TeacherEmpNum</p>
<p>@Model.TeacherHireDate</p>
<p>@Model.TeacherSal</p>

